includes:
    - vendor-tools/phpstan/phpstan-nette/extension.neon
    - vendor-tools/phpstan/phpstan-nette/rules.neon

parameters:
    excludes_analyse:
        - %rootDir%/../../../tests/_*

    ignoreErrors:
        - '#^Calling method [a-zA-Z]++\(\) on possibly nullable type Doctrine\\Common\\Persistence\\ObjectManager\|null#'
